<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tricycle_app">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".UserMainDashboardActivity" />
        <activity android:name=".DriverDashboardActivity" />
        <activity android:name=".AdminReportActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".SignDriverActivity" />
        <activity android:name=".AdminUserActivity" />
        <activity android:name=".AdminRidesHistoryActivity" />
        <activity android:name=".AdminFaresActivity" />
        <activity android:name=".AdminPayoutActivity" />
        <activity android:name=".AdminFareSetActivity" />
        <activity android:name=".UserRideHistoryActivity" />
        <activity android:name=".UserClientProfileActivity" />
        <activity android:name=".UserDriverSelectActivity" />
        <activity android:name=".UserPaymentSelectActivity" />
        <activity android:name=".UserSetLocationActivity" />
        <activity android:name=".UserDriverConfirmActivity" />
        <activity android:name=".UserDriverWaitingActivity" />
        <activity android:name=".UserArrivedActivity" />
        <activity android:name=".UserTripProgressActivity" />
        <activity android:name=".UserTripCompleteActivity" />
        <activity android:name=".AdminDriverVerificationActivity" />
        <activity android:name=".AdminPassengerActivity" />
        <activity android:name=".AdminRideDetailsActivity" />
        <activity android:name=".DriverRequestActivity" />
        <activity android:name=".DriverDashHistoryActivity" />
        <activity android:name=".DriverEarningActivity" />
        <activity android:name=".DriverProfileActivity" />
        <activity android:name=".PaymentMethodRegistrationActivity" />
        <activity android:name=".AdmindriverdetailActivity" />
        <activity android:name=".AdminPassengerDetailsActivity" />
    </application>

</manifest>