<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tricycle_app">

        <activity
            android:name=".activity.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.admin.AdminDashboardActivity" />
        <activity android:name=".activity.user.UserMainDashboardActivity" />
        <activity android:name=".activity.admin.AdminReportActivity" />
        <activity android:name=".activity.auth.SignupActivity" />
        <activity android:name=".activity.auth.SignDriverActivity" />
        <activity android:name=".activity.admin.AdminUserActivity" />
        <activity android:name=".activity.admin.AdminRidesHistoryActivity" />
        <activity android:name=".activity.admin.AdminFaresActivity" />
        <activity android:name=".activity.admin.AdminPayoutActivity" />
        <activity android:name=".activity.admin.AdminFareSetActivity" />
        <activity android:name=".activity.user.UserRideHistoryActivity" />
        <activity android:name=".activity.user.UserClientProfileActivity" />
        <activity android:name=".activity.user.UserDriverSelectActivity" />
        <activity android:name=".activity.user.UserPaymentSelectActivity" />
        <activity android:name=".activity.user.UserSetLocationActivity" />
        <activity android:name=".activity.user.UserDriverConfirmActivity" />
        <activity android:name=".activity.user.UserDriverWaitingActivity" />
        <activity android:name=".activity.user.UserArrivedActivity" />
        <activity android:name=".activity.user.UserTripProgressActivity" />
        <activity android:name=".activity.user.UserTripCompleteActivity" />
        <activity android:name=".activity.admin.AdminDriverVerificationActivity" />
        <activity android:name=".activity.admin.AdminPassengerActivity" />
        <activity android:name=".activity.admin.AdminRideDetailsActivity" />
        <activity android:name=".activity.user.DriverRequestActivity" />
        <activity android:name=".activity.user.DriverDashHistoryActivity" />
        <activity android:name=".activity.user.DriverEarningActivity" />
        <activity android:name=".activity.driver.DriverProfileActivity" />
        <activity android:name=".activity.auth.PaymentMethodRegistrationActivity" />
        <activity android:name=".activity.admin.AdmindriverdetailActivity" />
        <activity android:name=".activity.admin.AdminPassengerDetailsActivity" />
        <activity android:name=".activity.auth.FakeBrowserActivity" />
        <activity android:name=".activity.auth.FakeFacebookActivity" />
        <activity android:name=".activity.auth.SignupConfirmationActivity" />
        <activity android:name=".activity.user.DriverDashboardActivity" />
        <activity android:name=".activity.user.UserEditProfileActivity" />
        <activity android:name=".activity.user.UserPaymentMethodsActivity" />
        <activity android:name=".activity.user.UserSavedPlacesActivity" />
        <activity android:name=".activity.user.UserAddPlaceActivity" />
        <activity android:name=".activity.user.UserRideDetailsActivity" />
        <activity android:name=".activity.user.UserEditSavedPlaceActivity" />
        <activity android:name=".activity.driver.DriverTripActivity" />
        <activity android:name=".activity.user.DriverRideDetailsActivity" />
        <activity android:name=".activity.admin.AdminStatisticsActivity" />
        <activity android:name=".activity.admin.AdminAddDriverActivity" />
        <activity android:name=".activity.admin.AdminPayoutDetailsActivity" />


    </application>

</manifest>